<!-- <p><%= @query %></p> -->
<!-- <p><%= @dbpediaURI %></p>
<p><%= @chicken %></p> -->
<h1>Sopranos Episodes in JSON:</h1>
<p><%= @results.class %></p>
<p><%= @results.size %></p>


<p><%= @results %></p>